<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dao Nguyen Thanh </title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="full">

        <div class="trai">
              <div class="bocanh">
                <div class="anh">
                    <img src="../img/dao.jpg" alt="">
                </div>  
              </div>
              <div class="menu">
                <ul>
                    <li><a href="#so1"><b>PERSONAL PROFILE </b></a></li>
                    <li><a href="#so2"><b>EDUCATION & TRAINING </b></a></li>
                    <li><a href="#so3"><b>EMLOYMENT HISTORY</b></a></li>
                    <li><a href="#so4"><b>SKILLS</b></a></li>
                    <li><a href="#so5"><b>INTERESTS</b></a></li>
                    <li><a href="#so6"><b>ACHIEVEMENTS</b></a></li>
                    <div class="dowload">
                        <li> <a href="">Download this CV</a></li>
                     </div> 
                </ul>
              </div>  
        </div>
</div>
        <div class="phai">
            <div id="so1" class="personal">
                <p>
                    <h1 class="s1"> DAO </h1>
                    <h1 class="s2">NGUYEN THANH</h1>
                    <h3> Address:Rach Gia City<br>Cell phone:0942914918<br>email: nguyenthanhdao1619@gmail.com<br>
                        <br>
                        A freshmen of DUY TAN UNIVERSITY
            
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora nesciunt praesentium minus repellendus laborum eligendi similique minima eveniet reiciendis delectus impedit error ea cumque, id ipsa at repellat possimus magnam.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptatum vero atque delectus iste reiciendis itaque dolorem eveniet, tenetur, consequatur, blanditiis aliquam alias nostrum. A earum porro fugit nemo quae.
                    </h3>
            
                </p>
                <a class="facebook" href=https://www.facebook.com/tom.dn.73> <i
                    class="fa fa-facebook-official facebook-link" aria-hidden="true">
                    </i></a>
        </div>
        <div id="so2" class="ndung2">
            <h1>EDUCATION AND TRAINING</h1>
            <b>BIG DATA AND MACHINE LEARNING</b>     <p class="day">July 26th</p>
            <p>DUY TAN UNIVERSITY, DANANG <br>GPA:3.8</p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolorem culpa delectus corrupti quas, aliquam sit explicabo. Sapiente ullam ipsam fugit praesentium blanditiis inventore voluptatum esse? Ea cum quia quidem.

        </div>
        <div id="so3" class="ndung3">
            <h1>EMLOYMENT HISTORY</h1>
            <b>COMMUNICATION SPECIALIST</b>
            <p>Old member of Youth Connect English Club <br>
                Member of DSC-DTU

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, ipsum vel hic sed quo esse inventore deleniti praesentium officia aut repellendus. Quibusdam officiis vel nostrum nulla autem id! Adipisci, quaerat.
            </p>
        </div>

    </div>
</body>
</html>